
{% extends 'base.html' %}

{% load static %}


{% block maintitle %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>About</h1>
        <span class="subheading">On what is the point of all this </span>
      </div>
    </div>
  </div>
</div>





{% endblock %}


{% block about %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <span>
          <b> This doesn’t look like an ordinary tech blog. What is that all about? </b>  <br>
          <br>
          There are already so many great software engineering blogs out there that focus on technical tutorials. I didn’t believe I could add any value here, somehow do it better or even as good as a lot of them. Even though I do enjoy getting pretty technical at times, this space is really more about thinking about software from less common points of view and thus attempting to offer some new perspectives or challenge the status quo in the industry. I wondered how I could incorporate my interests such as philosophy or critical theory with technical writing in a way that I haven’t seen a lot of people do. I wanted to play with concepts which are generally considered to oppose one another: critical theory and business, technical writing and satire, philosophy and software development etc. Really, these are false dichotomies. I believe the most valuable insight usually grows at intersections of different disciplines and will especially in the future.<br>



            <br>
            <br>

            <b> You seem cool. Would you work for me/with me? </b>  <br>
            <br>

            I am constantly on the lookout for interesting projects - interesting being the operative word, though. I do not work well when I am expected to, say, translate technical specifications into code. I work best when I am given a real life problem and freedom to research, design and implement it. See the ‘projects’ tab for some examples of the times I did that.  <br>
            <br>

            Note that the aforementioned ‘freedom’ in no way means bypassing any detail of the client’s need and want, just the freedom regarding how exactly to meet those with software. Cheesy as it sounds, listening and understanding people is still the first step to great software solutions. I consider this way of working to be not only the most personally fulfilling but also potentially a great way to reduce cost and friction for the client since I’m essentially one person doing the work that is typically done by a few different people. Communicating technical principles to non-technical people is also a welcome challenge to me, so I’ve enjoyed working with non-technical clients. <br>
            <br>

            I’m also starting to consider doing consulting work in the areas where I’m confident I have useful things to say. This is to say the topics I have done a lot of thinking/writing/speaking on - which are all pretty well showcased in the texts and projects on this site. <br>
            <br>

            Yes, I have worked conventional software development jobs which is how I know they are not for me (or at least I haven’t found one that is yet, but it almost seems implausible it exists). I will be happy to provide a full CV upon request.<br>
            <br>
            <br>


            <b> But who are you? How can I contact you? </b>  <br>
            <br>

            Anything I haven’t already said about myself elsewhere on this site I personally consider to be unimportant. But I understand you might have other questions and I will be happy to provide the answers via <a style='color:white; text-decoration: underline;' href = "mailto: alanxyz210@gmail.com">email.</a>


        </span>

      </div>
    </div>
  </div>

  <hr>



{% endblock %}