
{% extends 'base.html' %}

{% load static %}


{% block maintitle %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>About</h1>
        <span class="subheading">Some background on the author </span>
      </div>
    </div>
  </div>
</div>





{% endblock %}


{% block about %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <span>
          Hello and welcome. Introducing myself has always given me anxiety. No one likes to think they can be easily surmised by a couple of sentences. But I recognise there’s some things a person who is considering engaging with my work in any way would like to know.

          <br>

          <br>

          I’m a freelance Python developer who helps people think about, plan and develop software. I’m extremely self-managed so if possible I like to work in a way where I take in requirements or even just a problem description and output working code. I’m kind of like a final state machine that way, but apparently I’m also a human. I enjoy communicating technical principles in a simple way and work with non-technical clients with ease.
          <br>

          <br>
          
          Python is my language of choice because it’s simple enough that the mental path from the real-life problem to the code seems short, but is still very useful for many more advanced tasks. I also appreciate its vast ecosystem, where I’ve published two <a href="https://github.com/larsvonschaff/printcleaner">smaller</a> <a href="https://github.com/larsvonschaff/Django-mockingbird">libraries</a> myself.
          <br>

          <br>
          
          On this site I also occasionally write about software, which I tend to mix with a bit of philosophy and critical theory. This may sound abstract and verbose and sometimes it is, but other times it comes down to practical stuff such as making the software industry a better place for its workers or contemplating software architecture in new and exciting ways.
          <br>

          <br>
          
          But more often than that in my spare time I simply experiment with and research concepts that fascinate me. Recently those have been abstract syntax trees, compilers and functional programming languages. I also <a href="https://www.meetup.com/Ljubljana-Python-Group/">organise</a> <a href="https://www.notion.so/ljubljana-tech-community/Ljubljana-Tech-Community-14131c4fd06647c7b06936bc8d1ff605">events</a> in my local programming community and have given a talk or two.
          <br>

          <br>
          
          I’m also a cat person as well as a dog person and I don’t see a problem with that. Sadly I own neither yet.
          
        </span>

      </div>
    </div>
  </div>

  <hr>



{% endblock %}